<div class="row">
  <div class="col-12">
    <div class="col-12">
      <h1>Book your cleaning service in 60 seconds</h1>
    </div>
  </div>
</div>
<div class="row ">
  <div class="col-6">
    <form [formGroup]="formBook" class="book-form row">
      <mat-form-field class="col-md-12 ">
        <mat-label>Type Service</mat-label>
        <mat-select formControlName="typeService">
          <mat-option [value]="1">
            Residential Cleaning or Airbnb
          </mat-option>
          <mat-option [value]="2">
            Spring Cleaning
          </mat-option>
          <mat-option [value]="3">
            Commercial Cleaning
          </mat-option>
          <mat-option [value]="4">
            End of leasing
          </mat-option>
        </mat-select>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-2 ">
        <mat-label>Title</mat-label>
        <mat-select formControlName="title">
          <mat-option value="mr">
            Mr.
          </mat-option>
          <mat-option value="mrs">
            Mrs.
          </mat-option>
          <mat-option value="ms">
            Ms.
          </mat-option>
          <mat-option value="Miss">
            Miss.
          </mat-option>
        </mat-select>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-5 ">
        <input
          matInput
          formControlName="firstName"
          placeholder="First Name: "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-5 ">
        <input
          matInput
          formControlName="lastName"
          placeholder="Last Name: "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6 ">
        <input
          matInput
          formControlName="phone"
          placeholder="Phone: "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6 ">
        <input
          matInput
          formControlName="email"
          placeholder="Email: "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6 ">
        <input
          matInput
          formControlName="address"
          placeholder="Address : "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6 ">
        <input
          matInput
          formControlName="suburb"
          placeholder="Suburb  : "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-5 ">
        <input
          matInput
          formControlName="postCode"
          placeholder="Post Code  : "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-4 " *ngIf="formBook.value.typeService !== 4">
        <mat-label>Cleaning Frequency</mat-label>
        <mat-select formControlName="frequency">
          <mat-option value="weekly">
            Weekly
          </mat-option>
          <mat-option value="fortnightly">
            Fortnightly
          </mat-option>
          <mat-option value="monthly">
            Monthly
          </mat-option>
          <mat-option value="casual">
            Casual
          </mat-option>
        </mat-select>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-3 " *ngIf="formBook.value.typeService !== 4">
        <mat-label>Hours required</mat-label>
        <mat-select formControlName="hoursRequired">
          <mat-option [value]="1">
            1
          </mat-option>
          <mat-option [value]="2">
            2
          </mat-option>
          <mat-option [value]="3">
            3
          </mat-option>
          <mat-option [value]="4">
            4
          </mat-option>
          <mat-option [value]="5">
            5
          </mat-option>
          <mat-option [value]="6">
            6
          </mat-option>
          <mat-option [value]="7">
            7
          </mat-option>
          <mat-option [value]="8">
            8
          </mat-option>
          <mat-option [value]="9">
            9
          </mat-option>
          <mat-option [value]="10">
            10
          </mat-option>
        </mat-select>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill" class="col-md-6" *ngIf="formBook.value.typeService !== 4">
        <mat-label>Start date</mat-label>
        <input formControlName="startDate" matInput [matDatepicker]="dp3" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6 " *ngIf="formBook.value.typeService !== 4">
        <mat-label>Preferred Cleaning time</mat-label>
        <mat-select formControlName="cleaningTime">
          <mat-option value="7am">
            7am
          </mat-option>
          <mat-option value="8am">
            8am
          </mat-option>
          <mat-option value="9am">
            9am
          </mat-option>
          <mat-option value="10am">
            10am
          </mat-option>
          <mat-option value="11am">
            11am
          </mat-option>
          <mat-option value="12am">
            12am
          </mat-option>
          <mat-option value="1pm">
            1pm
          </mat-option>
          <mat-option value="2pm">
            2pm
          </mat-option>
          <mat-option value="3pm">
            3pm
          </mat-option>
          <mat-option value="4pm">
            4pm
          </mat-option>
          <mat-option value="5pm">
            5pm
          </mat-option>
          <mat-option value="6pm">
            6pm
          </mat-option>
          <mat-option value="7pm">
            7pm
          </mat-option>
        </mat-select>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-3 " *ngIf="formBook.value.typeService === 4">
        <mat-label>Your Place</mat-label>
        <mat-select formControlName="place">
          <mat-option value="apartment">
            Apartment
          </mat-option>
          <mat-option value="house">
            House
          </mat-option>
        </mat-select>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4" *ngIf="formBook.value.typeService === 4">
        <mat-label>Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="dp1" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1 disabled="false"></mat-datepicker>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-4 " *ngIf="formBook.value.typeService === 4">
        <input
          matInput
          formControlName="badroom"
          placeholder="Bathroom(s): "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-4 " *ngIf="formBook.value.typeService === 4">
        <input
          matInput
          formControlName="livingRoom"
          placeholder="Living Room(s): "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-4 " *ngIf="formBook.value.typeService === 4">
        <input
          matInput
          formControlName="balcony"
          placeholder="Balcony: "
        />

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

      <div class="col-md-6" *ngIf="formBook.value.typeService === 4">
        <mat-slide-toggle formControlName="steamCarpet">Steam Carpet Cleaning</mat-slide-toggle>
      </div>

      <div class="col-md-6" *ngIf="formBook.value.typeService === 4">
        <mat-slide-toggle formControlName="outSideWindow">Outside Window Cleaning</mat-slide-toggle>
      </div>

      <div class="col-md-12" *ngIf="formBook.value.typeService === 3">
        <mat-slide-toggle formControlName="staffRequired">Staff required</mat-slide-toggle>
      </div>

      <div class="col-md-12" *ngIf="formBook.value.typeService !== 4">
        <mat-slide-toggle formControlName="supply">Will you supply cleaning products and equipments?!</mat-slide-toggle>
      </div>

      <mat-form-field class="col-6">
        <textarea matInput placeholder="Any comments or questions?"></textarea>
      </mat-form-field>

      <mat-form-field class="col-md-6 ">
        <mat-label>How did you hear about us?</mat-label>
        <mat-select>
          <mat-option value="Facebook">
            Facebook
          </mat-option>
          <mat-option value="Instagram">
            Instagram
          </mat-option>
          <mat-option value="Referral">
            Referral
          </mat-option>
          <mat-option value="Google">
            Google
          </mat-option>
          <mat-option value="Other">
            Other
          </mat-option>
        </mat-select>

        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>

    </form>
  </div>

  <div class="col-6">
    <h3 class="novalue-book"
        *ngIf="!formBook.value?.typeService || !formBook.value?.cleaningTime || !formBook.value?.frequency">
      complete the form to display the value
    </h3>

    <h1 class="value-book"
        *ngIf="formBook.value?.typeService && formBook.value?.cleaningTime && formBook.value?.frequency">
      {{valueBook | currency}}
    </h1>
  </div>
</div>


